@font-face {
  font-family: MarsdenCondensedHeavy;
  src: url(./fonts/MarsdenCondensedHeavy.otf)
}

body {
  background-image: url(./images/cocktail_napkin.jpg);
  font-family: MarsdenCondensedHeavy;
}

.sidebar {
  height: 100%;
  width: 0.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar-text {
  padding: 6.66px 6.66px 6.66px 32px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.topic-item {
  font-size: 19px;
  color: #979797;
  list-style-type: none;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#username-container {
  font-size: 20px;
  color: #939393;
}

#topics-header {
  font-size: 36.66px;
  color: #959595;
}
